html, body {
  margin: 0;
}

hr {
  margin-bottom: 5%;
  border-color: #ffbc00;
  width: 5%;
  margin-left: 0%;
}

a {
  text-decoration: none;
}

/* GENERAL CLASSES */

.grey {
  color: #262626;
}

.mustard {
  color: #FFBC00;
}

.dark-blue {
  color: #17223C;
}

.white {
  color: #fff;
}

.superscript {
  vertical-align: super; 
  font-size: 0.5em;
}

.inline {
  display: inline;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  font-family: "Work Sans";
  padding-top: 15%;
  line-height: 1.3em;
  margin-top: 5%;
}

#our-story .caption {
  padding-top: 0%;
}


#about-us.caption {
  padding-top: 5%;
}

.picture-caption {
  font-size: 0.7em;
  font-family: "Work Sans";
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
  font-family: "Work Sans";
}

.story {
  font-family: "Work Sans";
  font-size: 1.5em;
  text-align: left;
}

.title {
  font-size: 6em;
  line-height: 1.1em;
  text-align: left;
  font-weight: 700;
  font-family: "PT Serif"
}

#header {
  background-color: #17223C;
  font-family: "PT Serif";
  width: 100vd;
}

#vdc-header {
  font-size: 2em;
  float: left;
  padding: 0.3em 1em;
}

.header-item {
  font-size: 1em;
}

.heading {
  padding: 0 30% 0 30%;
  text-align: center;
  font-weight: 700;
  font-size: 3.5em; 
  font-family: "PT Serif";
}

.text {
  font-family: "PT Serif";
  margin-bottom: 2%;
}

/* HEADER CONTENT */
#heading-wrapper {
  height: 100vh;
  box-sizing: border-box;
}

#heading {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#heading-content {
  padding-top:20%;
}

.btn-group {
  margin-top: 5%;
}

.btn {
  background-color: #fff;
  height: 4em;
  width: 15em;
  outline: none;
}

.more-btn {
  margin: 0 auto;
  border: 2px solid #FFBC00;
}

.more-btn:focus, .more-btn:hover {
  color: #fff;
  background-color: #FFBC00;
}

.content-wrapper {
  background-color: black;
}

/* PAGES */

#story1 {
  background: url("../img/classroom.png") no-repeat center center fixed;
  background-size: cover;
  
}

#our-story {
  background: url("../img/our-story.png") no-repeat center center fixed;
  background-size: cover;
}

.story-wrapper {
  height: 100vh;
  margin-left: 5%;
  position: relative;
  overflow: hidden;
} 

#story1 .story-wrapper, #our-story .story-wrapper {
  margin-right: 40%;
}

#our-story .story-wrapper, #vdc-chart .story-wrapper {
  padding-bottom: 5%;
}

#about-us .story-title {
  padding-top: 5%;
}

.story-title {
  padding-top: 10%;
  font-size: 1em;
}

.read-more {
  font-size: 1em;
}

.hamza {
  margin-right: 0%;
  margin-bottom: 5%;
  line-height: 1.5em;
}

#story1 .hamza {
  padding-top: 5%;
}

.text-wrapper {
  padding-right: 30%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-items .right {
  flex-direction: row;
}

.story-wrapper .right {
  height: 100vh;
}

.right img {
  height: 100%;
}

.left {
  float: left;
  display: inline;
  position: relative;
  width: 50%;
}

#vdc-chart {
  height: 100vh;
  overflow: hidden;
}

.grid-item {
  width: 30%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

#video-wrapper {
  background-color: #262626;
  overflow: hidden;
  height: 100vh;
}

.story-wrapper-margin {
  margin-bottom: 5%;
}

video {
  height: 100%;
  width: auto;
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
  #question-box-label {
    margin-left: -3%;
  }
  #question-box {
    width: 25%;
  }
}
