html, body {
  margin: 0;
}
/* GENERAL CLASSES */

.grey {
  color: #262626;
}

.mustard {
  color: #FFBC00;
}

.dark-blue {
  color: #17223C;
}

.white {
  color: #fff;
}

.superscript {
  vertical-align: super; 
  font-size: 0.5em;
}

.inline {
  display: inline;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  margin-top: 5%;
}

.picture-caption {
  font-size: 1.7em;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
  font-family: "Work Sans";
}

.story {
  font-family: "Work Sans";
  font-size: 1.5em;
  text-align: left;
}

.title {
  font-size: 6em;
  text-align: left;
  font-weight: 700;
  font-family: "PT Serif"
}

.heading {
  padding: 0 10% 0 10%;
  text-align: center;
  font-size: 3.5em; 
  font-family: "PT Serif";
}

.text {
  font-family: "PT Serif";
  margin-bottom: 2%;
}

/* HEADER CONTENT */
#heading-wrapper {
  height: 100vh;
  box-sizing: border-box;
}

#heading {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#heading-content {
  padding-top:20%;
}

.btn-group {
  margin-top: 5%;
}

.btn {
  background-color: #fff;
  height: 4em;
  width: 15em;
  outline: none;
}

.more-btn {
  margin: 0 auto;
  border: 2px solid #FFBC00;
}

.more-btn:focus, .more-btn:hover {
  color: #fff;
  background-color: #FFBC00;
}

.content-wrapper {
  background-color: black;
}

/* PAGES */

#story1 {
  background: url("../img/classroom.png") no-repeat center center fixed;
  background-size: cover;
  
}

#our-story {
  background: url("../img/our-story.png") no-repeat center center fixed;
  background-size: cover;
}

.story-wrapper {
  height: 100vh;
  margin-left: 5%;
  position: relative;
  overflow: hidden;
} 

#story1 .story-wrapper, #our-story .story-wrapper {
  margin-right: 40%;
}

.story-title {
  padding-top: 10%;
}

.hamza {
  margin-top: 5%;
  margin-right: 0%;
  margin-bottom: 10%;
  line-height: 1.5em;
}

.text-wrapper {
  padding-right: 40%;
}

.right {
  float: right;
  display: inline;
}

.left {
  float: left;
  display: inline;
}

#vdc-chart {
  height: 100vh;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  #question-box-label {
    margin-left: -3%;
  }
  #question-box {
    width: 25%;
  }
}
